.container {  
  display: grid;
  grid-template-columns: 1.2fr 1.1fr;
  grid-template-rows: 1fr;
  gap: 0px 1px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: space-around;
  justify-items: stretch;
  grid-template-areas:
    ". .";
  margin-left: 8rem;
  margin-top: 2rem;

}
.checkout-product{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: var(--bg-primary);
  border-radius: 0.5rem;
  
}
.checkout-product img{
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}
.checkout-product h2{
  margin-right: 1rem;
}
.total{
  display: flex;
  font-weight: bolder;
  border-top: 1px solid var(--text-primary);
  width: 8rem;
  margin-top: 1rem;

}
.price{
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.quantity{
  font-weight: bolder;
  text-transform: uppercase;
}
.checkout-header{
 text-align: center;
}

.checkout-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.checkout-form input{
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--text-primary);
  border-radius: 0.5rem;
}
.checkout-form input:focus{
  outline: none;
}
.checkout-form button{
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--text-primary);
  border-radius: 0.5rem;
  background-color: var(--text-primary);
  color: var(--text-secondary);
  font-weight: bolder;
  cursor: pointer;
}
.checkout-form button:hover{
  background-color: var(--text-secondary);
  color: var(--text-primary);
}
.checkout-form button:focus{
  outline: none;
}
.checkout-form p{
  margin-bottom: 1rem;
}
.checkout-form label{
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}












@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
  }
  .checkout-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
  .checkout-product img{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  .checkout-product h2{
    margin-right: 1rem;
  }
  .total{
    display: flex;
    border-top: 1px solid var(--text-primary);
    width: 8rem;
    margin-top: 1rem;
  }
}



