.navbar{
    width: 5rem;
    height:95vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    z-index: 1000;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top:auto;
}
.nav-link{
    display: flex;
   align-items: center;
   height: 5rem;
   color: var(--text-primary);
   text-decoration: none;
   filter: grayscale(100%) opacity(0.7);
   transition:600ms
}
.nav-link:hover{
    filter:grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg{
    min-width: none;
    max-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 15rem;
}

.navbar:hover .link-text{
    display: block;
}
.fa-primary{
    color: #ff7eee;
}
.fa-secondary{
    color:#df49a6
}
.fa-primary,
.fa-secondary{
    transition: 600ms;
}
.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    letter-spacing: 0.3ch;
    width: 100%;

}
.logo svg{
    transform: rotate(0deg);
    transition: transform 600ms;
}

.navbar:hover .logo svg {
transform: rotate(-540deg);
}
/* Large Screen */
@media only screen and (min-width:600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;

    }
    .navbar:hover{
        width: 16rem;
    }
    .navbar:hover .link-text{
        display:inline;
        transition :opacity 600ms ;
    }
}
/*Small Screen*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }
  .logo{
    
    margin-bottom: 0%;
  }

  .navbar:hover{
    width: 100vw;
  }
  .navbar:hover .link-text{
    position: absolute;
   bottom: 100%;
    margin: 1rem;
    font-weight: bolder;
    transition:all 600ms;
 
}
.navbar .link-text{
    display: inline;
    position: absolute;
    bottom: 0%;
    transition: all 600ms ease-out;
    margin-left: 0.3rem;


}
.nav-link svg{
    margin-bottom: 1rem;
}
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
}
